/* All the CSS related to answers Page*/
.answer {
  border-bottom: #000000 1px dashed;
}

.answerText {
  width: 75%;
}

.answerAuthor {
  margin-top: 20px;
  
}

.answer_author {
  color: green;
  padding-top: 20px;
}