.questionBody {
  border-bottom: #000000 1px dashed;
}

.answer_question_view {
  width: 15%;
  margin-top: 10px;
}

.answer_question_text {
  width: 80%;
  margin-bottom: 20px;
}

.question_author {
  margin-right: 5px;
}
