* {
  box-sizing: border-box;
}

.chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--shadow-color);
}

.chat-header {
  background-color: var(--header-bg);
  color: var(--primary-text);
  padding: 10px 20px;
  text-align: center;
}

.chat-messages {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--secondary-bg);
}

.user-name {
  font-weight: bold;
  margin-right: 5px;
}

.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid var(--border-color);
  background-color: var(--primary-bg);
}

.message-textbox {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-right: 10px;
  width: 100%;
  resize: none;
}

.message-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-button {
  padding: 10px 20px;
  border: none;
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

.send-button:hover {
  background-color: var(--button-hover);
}

.error-message {
  color: var(--accent-color);
  font-size: 0.85rem;
  margin-left: 10px;
  /* Adds space between the button and the error message */
  background-color: var(--secondary-bg);
  /* Light red background for better visibility */
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: inline-block;
  /* Prevents it from stretching unnecessarily */
  white-space: nowrap;
  /* Prevents wrapping of the message */
}