.vote-container {
  display: flex;
  align-items: center;
  padding: 12px;
}

.vote-button {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.125rem;
  background-color: var(--secondary-bg);
  cursor: pointer;
  outline: none;
}

.vote-button-upvoted {
  background-color: var(--button-hover);
  color: var(--button-text);
}

.vote-button-downvoted {
  background-color: var(--accent-color);
  color: var(--button-text);
}

.vote-count {
  margin-left: 0.5rem;
}