.sideBarNav {
  display: flex;
  flex-direction: column;
  width: 15%;
  border-right: var(--border-color) dashed;
  padding: 4% 0 4% 0;
  align-items: center;
}

.menu_button:first-child {
  margin-top: 0;
}

.menu_button {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: var(--accent-color);
}

.menu_selected {
  background: var(--secondary-bg);
}

.additional-options {
  display: flex;
  flex-direction: column;
  padding: 4% 0 4% 0;
  align-items: center;
}

.message-options {
  width: max-content;
}

.message-option-selected {
  background: var(--button-bg);
  color: var(--button-text);
  width: 110%;
}