.tagNode {
  place-self: center;
  border: var(--border-color) 1px dashed;
  padding: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.tagName {
  color: var(--accent-color);
}