.answer_question_meta {
  color: var(--secondary-text);
}

.ansButton {
  margin: 2% 0 2% 2%;
}

.bookmark_button svg {
  color: white !important;
}

.bookmark_button_bookmarked svg {
  color: #0095ff !important;
}

.bookmark_button:hover {
  color: var(--button-hover);
}