.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--secondary-bg);
  width: 98%;
}

.message.sender {
  align-self: flex-end;
  background-color: var(--input-bg);
}

.message.receiver {
  align-self: flex-start;
  background-color: var(--primary-bg);
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.message-sender {
  font-weight: bold;
  color: var(--primary-text);
}

.message-time {
  font-size: 0.8rem;
  color: var(--secondary-text);
}

.message-body {
  font-size: 1rem;
  color: var(--primary-text);
  line-height: 1.5;
  word-wrap: break-word;
}